<style>
    pre code {
        background-color: #eee;
        border: 1px solid #999;
        display: block;
        padding: 20px;
    }
</style>
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}Resume API{% endblock %}</title>
    </head>
    <body>
        <h2>Résumé API</h2>
        <p>This API supports the following: </p>
        <h3>User API</h3>
        <ul>
            <li>
                <h4>Create A User [POST /api/user/create]</h4>
                <pre>
                    <code>
    {
        "first_name":"{first_name}",
        "last_name":"{last_name}",
        "city_state":"{city_state}",
        "phone_number":"{phone_number}",
        "email_address":"{email_address}",
        "password":"{password}"
    }
                    </code>
                </pre>
            </li>

            <li>
                <h4>Get All Users [GET /api/users]</h4>
            </li>
            <li>
                <h4>Get A User By Id [GET /api/user/{user_id}]</h4>
            </li>
            <li>
                <h4>Search For User By Email [GET /api/user/search?email={user_email}]</h4>
            </li>
            <li>
                <h4>Get User Experience(s) [GET /api/user/{user_id}/experiences]</h4>
            </li>
            <li>
                <h4>Update User By Id [PUT /api/user/{user_id}]</h4>
                <pre>
                    <code>
    {
        "first_name":"{first_name}",
        "last_name":"{last_name}",
        "city_state":"{city_state}",
        "phone_number":"{phone_number}",
        "email_address":"{email_address}",
        "password":"{password}",
        "experiences": [{experience_id}]
    }
                    </code>
                </pre>
                <p>Note: All fields are optional</p>
            </li>
            <li>
                <h4>Delete User By Id [DELETE /api/user/{user_id}]</h4>
            </li>
        </ul>
        <h3>Experience API</h3>
        <ul>
            <li>
                <h4>Create An Experience [POST /api/experience/create]</h4>
                <pre>
                    <code>
    {
        "company_name": "{company_name}",
        "position_title":"{position_title}",
        "start_date":"{mm/dd/yyyy}",
        "end_date":"{mm/dd/yyyy}",
        "description":"{description}"
    }
                    </code>
                </pre>
            </li>
            <li>
                <h4>Get All Experience(s) [GET /api/experiences]</h4>

            </li>
            <li>
                <h4>Get An Experience By Id[GET /api/experience/{experience_id}]</h4>
            </li>
            <li>
                <h4>Update Experience By Id[PUT /api/experience/{experience_id}]</h4>
                <pre>
                    <code>
    {
        "company_name": "{company_name}",
        "position_title":"{position_title}",
        "start_date":"{mm/dd/yyyy}",
        "end_date":"{mm/dd/yyyy}",
        "description":"{description}"
    }
                    </code>
                </pre>
                <p>Note: All fields are optional</p>
            </li>
            <li>
                <h4>Delete Experience By Id[DELETE /api/experience/{experience_id}]</h4>
            </li>
        </ul>
    </body>
</html>
