<style>
    body {
        margin: 0;
        padding: 0;
    }

    div{
        background: #333;
        color: #f9f9f9;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }

    section {
        width: 100%;
        height: 200px;
        margin: auto;
        padding: 10px;
        display: flex;
    }
</style>

<section class="container">
    <div>Home</div>
    {% if current_user.is_authenticated %}
        <div>Build Resume</div>
    {% else %}
        <div>Login / Register</div>
    {% endif %}
</section>
